* {
    box-sizing: border-box;
}
html, body, .container {
    margin: 0px;
    padding: 0px;
    min-height: 794px;
    width: 100%;
    min-width: 1235px;
    font-family: "Muli", "Merriweather", "Georgia", serif;
}

.top-nav {
    height: 60px;
    width: 100%;
    box-shadow: 0px 0px 1px 0px lightgrey;
    display: flex;
}

.logo {
    height: 155px;
    width: 209px;
    margin-top: -34px;
    background-image: url(../img/new-logo.png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.logo-box {
    height: inherit;
    width: 70%;
    display: flex;
}

.menu {
    margin-right: 54px;
    margin-top: 5px;
    color: #625f5f;
}

.menu-list-ul {
    display: flex;
    list-style: none;
    font-weight: 600;
}


.menu-list {
    margin-right: 54px;
}

#auth-box {
    height: inherit;
    width: 300px;
    display: flex;
    padding-left: 165px;
}

#user-auth-box {
    height: inherit;
    width: 300px;
    display: flex;
    padding-top: 17px;
    padding-left: 157px;
}

.btn {
    height: 40px;
    width: 126px;
    float: right;
    margin-top: 9px;
    font-weight: 600;
    border-color: lightgrey;
    border-style: solid;
    border-width: thin;
    border-radius: 11px;
    color: black;
    padding-top: 9px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #e62e22;
    color: white;
}

.order-btn:hover {
    background-color: #e62e22;
    color: white;
}

.sign-btn:hover {
    background-color: #e62e22;
    color: white;
}

.order-btn {
    height: 40px;
    width: 126px;
    margin-top: 9px;
    font-weight: 600;
    border-color: lightgrey;
    border-style: solid;
    border-width: thin;
    border-radius: 11px;
    color: black;
    padding-top: 9px;
    text-align: center;
    cursor: pointer;
}

.btn-red {
  height: 33px;
  width: 56px;
  color: white;
  border-style: solid;
  border-width: thin;
  background-color: #e62e22;
}

.sign-btn-box {
  text-align: -webkit-center;
}

.sign-btn {
  height: 33px;
  width: 135px;
  margin-top: 9px;
  background-color: white;
  border-color: lightgrey;
  border-style: solid;
  border-width: thin;
  border-radius: 11px;
  color: black;
  padding-top: 0px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;    
}

.btn-space {
    height: 80px;
    width: 100%;
    text-align: -webkit-center;
}

.write-hero {
    height: inherit;
    width: 573px;
    margin-left: 10px;
    padding-top: 80px;
}

.eat-hero {
    color:  #3d3d3d;
    font-size: 40px;
    font-weight: 600;
}

.eat-ready {
    color: #f7ad07;
    font-size: 40px;
    font-weight: 600;
}

.eat-bold {
    color: #828186;
    font-size: 49px;
    height: 60px;
    font-weight: 600;
}

.we-deliver {
    height: 400px;
    width: 100%;
    margin-top: 30px;
}

.write-del {
    width: 100%;
    height: inherit;
    text-align: center;
}

.hero-del {
    background-image: url('../img/deliveryboy.png');
    background-size: inherit;
    background-position: 50%;
    background-repeat: no-repeat;
}

.del-text {
    color: #2e2929;
}

.variety-header {
    height: 80px;
    width: 100%;
    text-align: center;
    font-size: 55px;
    margin-top: 70px;
}

.variety-box {
    margin-top: 190px;
    min-height: 400px;
    width: 100%;
    text-align: -webkit-center;
}

.variety-kind {
    min-height: 400px;
    width: 1081px;
    display: flex;
    flex-wrap: wrap;
}

.variety {
    height: 400px;
    width: 340px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 13px 1px lightgrey;
}

.variety-one {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdjmbAZf66WmFeCrDfg42nRC-MuvsKAbwLZAAkmQ_tlvV3hIIAHQ");
    background-size: auto;
    background-position: 50%;
    background-repeat: no-repeat;
}

.variety-two {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFDExoiSqc775ON8a_DEUzMJpt8o6HUrrI4B_tBlOWlU_3t4VlQA");
    background-size: auto;
    background-position: 50%;
    background-repeat: no-repeat;
}

.variety-three {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6Tgq6oQ6mkShcdbggZCnQjRYj-weYq-VDCep1hJHMXUtBg73Txg");
    background-size: auto;
    background-position: 50%;
    background-repeat: no-repeat;
}

.variety-four {
    background-image: url("https://thumbs.dreamstime.com/b/chinese-food-rice-fried-chicken-vegetables-isolated-white-background-opened-take-out-box-105837973.jpg");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.variety-five {
    background-image: url("https://www.takaski.com/wp-content/uploads/2016/03/YAWATAYA-ISOGORO-Shichimi-Togarashi-Rice-Crackers-Garam-Masala-Made-in-Japna2.jpg");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.variety-six {
    background-image: url("https://eatfitgo.com/wp-content/uploads/2018/06/KickinChickenFriedRice_website.jpg");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

footer {
    height: 80px;
    margin-top: 40px;
    background-color: #363232;
}

a {
    text-decoration: none;
    color: #5b6163;
}

.food-hero {
    height: 300px;
    width: 100%;
    background-image: url('../img/spag.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.order-header {
    height: inherit;
    width: 400px;
    display: flex;
    font-size: 34px;
    font-weight: 600;
    padding-left: 57px;
}

.place-order {
    height: 80px;
    border-bottom-color: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: thin;
    text-align: -webkit-center;
}

.material-icon {
    height: inherit;
    width: 58px;
    background-image: url('../img/food.png');
    background-position: 50%;
    background-size: auto;
    background-repeat: no-repeat
}

.title-header {
    padding-top: 23px;
}

.order-content {
    min-height: 500px;
    width: 100%;
    text-align: -webkit-center;
}

.order-box {
    min-height: inherit;
    width: 1000px;
    display: flex;
}

.order-box-left {
    min-height: inherit;
    width: 700px;
}

.order-box-right {
    min-height: inherit;
    width: 300px;
    box-shadow: 0px 0px 18px 1px lightgrey;
}

.box-right-top {
    height: 80px;
    width: inherit;
    text-align: -webkit-center;
}

.cart-header {
    height: inherit;
    width: 80px;
    background-image: url('../img/cart.png');
    background-position: 50%;
    background-size: auto;
    background-repeat: no-repeat
}

.cart-items {
    min-height: 100px;
    width: inherit;
}

.yum-content {
    min-height: 250px;
    width: inherit;
    text-align: left;
}

.yum-header {
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 16px;
    font-weight: 600;
    font-size: 24px;
}

.yum-child {
    height: 100px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: lightgray;
    border-top-style: solid;
    border-top-width: thin;
}

.yum-img1 {
    margin-top: 4px;
    height: 91px;
    width: 100px;
    background-image: url(http://www.allnigerianrecipes.com/images/nigerian-fried-rice1.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.yum-img2 {
    margin-top: 4px;
    height: 91px;
    width: 100px;
    background-image: url('https://food-images.files.bbci.co.uk/food/recipes/spaghetti_bolognese_with_23409_16x9.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.yum-name {
    height: inherit;
    width: 400px;
    padding-left: 10px;
    font-weight: 600;
}

.yum-price {
    height: inherit;
    width: 200px;
    padding-left: 94px;
    padding-top: 73px;
    display: flex;
}

.add-icon {
    color: #e62e22;
    cursor: pointer;
}

.add-box {
    padding-top: 1px;
}

.amount {
    padding-top: 3px;
}

#click-me:hover {
    color: #e62e22;
}
